h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 170;
    width: 300px;
    top: 25%;
    left: 41%;
    display: block;
    position: absolute;
}




#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
  }
  
  .rainbow {
 
    top: 25%;
    left: 43%;
    display: block;
    position: absolute;
    font-size: 170px;
    font-family: monospace;
    letter-spacing: 5px;
    animation: colorRotate 6s linear 0s infinite;
  }
  
  @keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }